/* PHASE 0: Sidebar */
.profile-picture {
    margin-top: -100px;
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    overflow: hidden;
}

.profile-picture img {
    border-radius: 10px;
    z-index: 1;
}

.profile-nav li {
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid rgb(179, 171, 171);
    padding: 5px;
    /* font-style: bold; */
    font-weight: bold;
    
}

.profile-nav li:first-child {
    border-top: 1px solid rgb(179, 171, 171);
    /* border-bottom: 1px solid gray; */

}

.profile-nav {
    margin-top: 20px;
    /* border-bottom: 1px solid gray; */

}

.name-display{
    font-size: 20px ;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}

.bio {
    font-size: 15px;
}

.profile-picture div {
    background: rgb(44, 220, 0);
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    transform: rotate(-0.13turn);
    position: absolute;
    top: 16px;
    left: -51px;
    font-size: 12px;
    letter-spacing: .2rem;
    box-shadow: 10px 1px 1px rgb(0, 126, 0);

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

.friend-thumbnails {
    display: grid;
    gap: 0.6rem;
    grid-auto-flow: row;
    grid-template-columns: 60px 60px 60px;

    padding-top: 10px;

}

.friend-thumbnails li {
    display: flex; 

}
